/* General Styling */
.dashboard-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #c3c1c1;
    color: black;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }