.hero-section {
  display: flex;
  align-items: flex-start; /* Aligne tout le contenu vers le haut du conteneur */
  justify-content: center; /* Centre le contenu horizontalement */
  height: 100%; /* La section prend toute la hauteur de la fenêtre */
  padding: 20px; /* Ajoute un peu d'espace autour */
  gap: 20px; /* Ajoute un espace modéré entre le texte et l'image */
  padding-bottom: 0;
}

.hero-content {
  display: flex;
  flex-direction: column; /* Organise les éléments verticalement */
  justify-content: center; /* Centre le contenu verticalement */
  text-align: left; /* Aligne le texte à gauche */
  color: #fff;
  margin-top: 10%; /* Décale le texte vers le haut (ajustez la valeur si nécessaire) */
  margin-left: 30px; /* Augmente l'espace à gauche */
  height: 100%;
}

.hero-title {
  font-size: 3rem; /* Taille du titre */
  margin-bottom: 10px; /* Réduit l'espace sous le titre */
  width: 100%;
}

.hero-text {
  font-size: 1.4rem; /* Taille du texte */
  margin-bottom: 20px; /* Réduit l'espace sous le texte */
  width: 100%;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #dcae86; /* Jaune */
  color: #0b132b; /* Bleu foncé */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-self: center; /* Centre le bouton horizontalement */
  margin-top: 20px; /* Ajoute de l'espace au-dessus du bouton */
}

.hero-button:hover {
  background-color: #d89f6e; /* Teinte plus foncée au survol */
}

.hero-image {
  flex: 1; /* Permet à l'image de prendre un espace proportionnel */
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  align-items: center; /* Centre l'image verticalement */
  height: 100vh;
}

.hero-image img {
  width: 100%; /* L'image prend toute la largeur du conteneur */
  height: 100%; /* La hauteur de l'image est réduite à 50% de la hauteur de son conteneur */
  object-fit: contain; /* Maintient les proportions de l'image */
}



@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Place le texte et l'image l'un sous l'autre */
    text-align: center; /* Centrer le contenu */
  }

  .hero-content {
    padding-right: 0; /* Retire l'espace inutilisé sur mobile */
    text-align: center; /* Centrer le texte */
    margin-top: 10; /* Réduit la marge en haut sur mobile */
    margin-left: 0;
  }

  .hero-image img {
    max-width: 100%; /* L'image occupe toute la largeur disponible */
  }

  .hero-button {
    align-self: center; /* Centrer le bouton sur mobile */
  }
}