/* Summary Section */
.summary-section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
  }
  
  .summary-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .summary-section p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .summary-section .total-price {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }